// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    button.action.primary,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
        .lib-css(font-weight, @font-weight__light);
    }

    button {
        &:not(.primary) {
            .lib-css(box-shadow, @button__shadow);

            &:active {
                .lib-css(box-shadow, @button__shadow-active);
            }
        }
    }

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {
        .lib-button-primary();
    }
}

//buttons
@button__border-radius: 0;

//primary
@button-primary__background: @color-white;
@button-primary__border: 2px solid @color-black;
@button-primary__color: @color-black;
//&hover
@button-primary__hover__background: @color-black;
@button-primary__hover__border: 2px solid @color-black;